*{padding: 0;
  margin: 0;
  box-sizing: border-box;}
#container{
    width: 100%;
    background-color: #042444;}
header img{
    width: 100px;
    margin-left: 20px;}
.nav{
    width: 100%;
    background-color: #E29F41;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    top: 50px;
    color: #fff;
    padding: 0;
    margin: 0;
    margin-left: 0px;}
.nav a{
    display: inline-block;
    padding: 10px 20px;
    background-color: #E29F41;
    color: rgba(20, 63, 101, 0.931);
    border-radius: 5px;
    margin: 0 10px;
    text-decoration: none;
    margin-left: 100px;}
nav li{
    margin: 0 10px;}
.nav-list{
    display: none;}
.nav.show{
    display: flex;
    flex-direction: column;
    background-color: #042444;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;}
.nav.show li{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #fff;}
.nav.show li:last-child {
    border-bottom: none;}
.nav.show a {
    color: #fff;
    text-decoration: none;}
@media screen and (min-width: 769px) {
    .menu-icon{display:none;}
    .nav{display: absolute;  /*antes no se mostraba habia que agregar el flex */}}
@media screen and (max-width:768px){
    .header{
        height: auto;
        justify-content: flex-start;
    }

    .social-links{
        margin-top: 100px;
        margin-left:640px;
    }
    .dark-mode-switch{
        margin-top: 0px;
        left:500px;
        position: absolute;
    }
    .nav{display: none;
         position: flex;
         top:100px;
         left:0;
         width:100%;
         z-index: 1000;
         overflow-y: auto;
         max-height: calc(100vh - 100px);
         overflow-x: hidden;
         margin-top: -20px;}
    .nav a {
        margin-left: 40px;}
    .menu-icon{
        display: inline-block;}
    .nav.show{
        display:flex;
        flex-direction: column;
        align-items: center;
        display: block;}
    .nav.show li{
        padding: 10px 0;
        text-align:center;
        border-bottom: 1px solid #ffff;}
    .nav.show li:last-child{
        border-bottom:none}
    .nav.show a {
        color: #fff;
        text-decoration: none;
        font-size: 1.2rem;
        padding: 15px 20px;}
        .close-menu{
        display: inline-block;
        cursor:pointer;}}
#menu{
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #fff;
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: column;
    z-index: 1000;}

#menu::before{
    content: "☰";}
#menu.open::before{
    content: "✖";}
.nav a:hover{
    background-color: #042444;
    color: aliceblue;}
.nav ul{list-style-type: none;
        display: absolute;}
.nav li{
    margin: 1px;
    display: list-item;
    justify-items: center;
    color: rgb(255, 233, 233);}
.social-links{
    display: flex;
    align-items: center;
    width: auto;
    margin-right: 100px;
    justify-content:flex-end ;}
.social-links a{
    margin-right: 20px;
    margin-top: -50px;}
.social-links a i{
    font-size: 30px;
    color: aliceblue;}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;}
.hero-container{
    position: relative;
    width: 100%;
    height: calc(40vh-50px); /*300 es el alto de mi barra nav*/
    background-color: #f5f5f5;
    background-size: cover;
    background-position: center;
    transition:all .1s ease-in-out;
    background-image: url("../images/crece.jpg");
    animation: hero-container 28s infinite linear;}
.hero-content{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 600px;
    color: aliceblue;
    background-color: rgba(0,22, 40 , .6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;}
.hero-content h1{
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    font-size: 40px;
    text-align: center;}
.hero-content a {
    margin-top: 40px;
    text-decoration: none;
    color:aliceblue;
    padding: 9px 20px;
    border: 1px solid#ffff;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    border-radius: 5px;}
.hero-content a:hover{
    color: #333;
    background-color: #ffff;}
@keyframes hero-container{
    0%{background-image: url("../images/crece.jpg");}
    25%{background-image: url("../images/crece.jpg");}
    26%{background-image: url("../images/entrega.jpg");}
    50%{background-image: url("../images/entrega.jpg");}
    51%{background-image: url("../images/compania.jpg");}
    75%{background-image: url("../images/compania.jpg");}
    76%{ background-image: url("../images/ogimage.jpg");}
    100%{background-image: url("../images/ogimage.jpg");}}
.event-card{
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 100px;}
.weather-card{
    background-color:#f9f9f9 ;
    border:1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin:  0 auto;
    margin-bottom: 100px;}
.spotlight-card{
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 100px;}
.sections{margin-top: 100px;}

.fa-solid{ margin-bottom: 30px;
           font-size: 80px;}
footer{
    background-color: #042444;
    color: #ffff;
    text-align: center;
    padding: 50px 0;}
.map{
    width: 50px;
    height: 50px;}
.contact-info{
    display: flex;
    justify-content: center;
    align-items: center;}
.copyright{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 50px;}


.dark-mode {
    background-color: #111;
    color: #fff; 
}

.dark-mode .spotlight-card,
.dark-mode .current-events .event-card,
.dark-mode  .weather .weather-card{
    background-color: #333;
    border-color: #666;
}


.dark-mode .spotlight-card h2,
.dark-mode .spotlight-card p,
.dark-mode .spotlight-card a,
.dark-mode .current-events .event-card h2,
.dark-mode .current-events .event-card p,
.dark-mode .current-events .event-card span,
.dark-mode .weather .weather-card h2,
.dark-mode .weather .weather-card p{
    color: #ccc;
}

    .dark-mode-switch {
        position:absolute;
        top: 35px;
        margin-right: 30px;
        right: 40px;
        z-index: 1000;
    }
    
    .dark-mode-switch input[type="checkbox"] {
        height: 0;
        width: 0;
        visibility: hidden;
    }
    
    .toggle {
        cursor: pointer;
        height: 30px;
        width: 60px;
        background-color: grey;
        border-radius: 30px;
        position: relative;
    }
    
    .toggle:before {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: white;
        top: 0;
        left: 0;
        transition: 0.4s;
    }
    
    .toggle:after {
        content: '';
        position: absolute;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background-color: black;
        top: 2px;
        left: 2px;
        transition: 0.4s;
    }
    
    input[type="checkbox"]:checked + .toggle:before {
        left: 30px;
    }
    
    input[type="checkbox"]:checked + .toggle:after {
        background-color: white;
    }
    

