@media screen and (min-width: 769px) {
    .menu-icon{display:none;}
    .nav{display: absolute;  /*antes no se mostraba habia que agregar el flex */}
    .dark-mode input[type="text"],
    .dark-mode input[type="email"],
    .dark-mode input[type="tel"],
    .dark-mode select,
    .dark-mode textarea {
        background-color: #333; /* Color de fondo oscuro */
        color: #ccc; /* Color de texto claro */
        border: 1px solid #666; /* Borde más claro */
        font-size: 18px; /* Tamaño de fuente más grande */
    }

    .dark-mode option {
        background-color: #333; /* Color de fondo oscuro para las opciones del select */
        color: #fff; /* Color de texto claro para las opciones del select */
    }

    .dark-mode ::placeholder {
        color: #ccc; /* Color de texto gris claro para texto de marcador de posición */
    }

    .dark-mode label{
        color: #333;
    }
}

@media screen and (max-width:768px){
    .header{
        height: auto;
        justify-content: flex-start;
    }

    .social-links{
        margin-top: 100px;
        margin-left:640px;
    }
    .dark-mode-switch{
        margin-top: 0px;
        left:500px;
        position: absolute;
    }
    .nav{display: none;
         position: flex;
         top:100px;
         left:0;
         width:100%;
         z-index: 1000;
         overflow-y: auto;
         max-height: calc(100vh - 100px);
         overflow-x: hidden;
         margin-top: -20px;}
    .nav a {
        margin-left: 40px;}
    .menu-icon{
        display: inline-block;}
    .nav.show{
        display:flex;
        flex-direction: column;
        align-items: center;
        display: block;}
    .nav.show li{
        padding: 10px 0;
        text-align:center;
        border-bottom: 1px solid #ffff;}
    .nav.show li:last-child{
        border-bottom:none}
    .nav.show a {
        color: #fff;
        text-decoration: none;
        font-size: 1.2rem;
        padding: 15px 20px;}
        .close-menu{
        display: inline-block;
        cursor:pointer;}

    /*join us form*/

    .dark-mode input[type="text"],
    .dark-mode input[type="email"],
    .dark-mode input[type="tel"],
    .dark-mode select,
    .dark-mode textarea {
        background-color: #333; /* Color de fondo oscuro */
        color: #fff; /* Color de texto claro */
        border: 1px solid #666; /* Borde más claro */
        font-size: 16px; /* Tamaño de fuente más grande */
    }

    .dark-mode option {
        background-color: #333; /* Color de fondo oscuro para las opciones del select */
        color: #fff; /* Color de texto claro para las opciones del select */
    }

    .dark-mode ::placeholder {
        color: #ccc; /* Color de texto gris claro para texto de marcador de posición */
    }

    .dark-mode label{
        color: #333;
    }
    
    }
