@media screen and (min-width: 769px) {
    .menu-icon{display:none;}
    .nav{display: absolute;  /*antes no se mostraba habia que agregar el flex */}
    .dark-mode input[type="text"],
    .dark-mode input[type="email"],
    .dark-mode input[type="tel"],
    .dark-mode select,
    .dark-mode textarea {
        background-color: #333; /* Color de fondo oscuro */
        color: #ccc; /* Color de texto claro */
        border: 1px solid #666; /* Borde más claro */
        font-size: 18px; /* Tamaño de fuente más grande */
    }

    .dark-mode option {
        background-color: #333; /* Color de fondo oscuro para las opciones del select */
        color: #fff; /* Color de texto claro para las opciones del select */
    }

    .dark-mode ::placeholder {
        color: #ccc; /* Color de texto gris claro para texto de marcador de posición */
    }

    .dark-mode label{
        color: #333;
    }
}
