* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#container {
    width: 100%;
   
}

header {
    width: 100%;
    height: 50vh;
    margin-top: 0;
    padding: 50px;
    background-color: #333;
    text-align: center;
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;
}

header img {
    max-width:80vw;
    height: auto;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

h1 {
    margin-left: 10px;
    padding-top: 20px;
    color: #fff;
    font-size: 3.5vw;
}

nav{
    justify-content: center;

}




nav a {
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #2980b9;
    margin-right: 10px;
    margin-bottom: 15px;
}

nav a:hover {
    background-color: #1a5376;
}

main {
    font-size: 2em;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    justify-content: space-between;
}

.activities,
.information{
    flex: 1 1 45%;
    margin-bottom: 20px;
}

.map{
    flex: 1 1 100%;
    margin-top: 20px;
}

@media  screen and (max-width: 1200px) {
    .activities,
    .information,
    .map{
        flex-basis: 100%;
        margin-right: 0;
    }
    
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 50px;
}

.card {
    width: 300px;
    margin: 20px;
    background-color: #f0f0f0;
    border: 1px solid#ccc;
    border-radius: 8px;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    justify-content: center;
    margin-left: 60px;
    
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card ul {
    text-align: center;
}

h3 {
    color: #333;
    text-align: center;
}

.card li {
    margin-bottom: 10px;
}

.card a {
    display: inline-block;
    padding: 10px 20px;
    border: 5px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
}

.card a:hover {
    background-color: #ddd;
}

ul {
    list-style-type: none;
    padding: 0;
}

li a {
    text-decoration: none;
    color: white;
    text-align: center;
}
/*hamburger bttom*/
.menu-icon {
    display: none;
    color: #ccc;
}

.close-menu{
    display: none;
    color: #ccc;
}

.nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    background-color: #1a5376;
    top: 50px;
    color: #fff;
    padding: 0;
    margin: 0;
    margin-left: 0px;
}

.nav a{
    margin-left: 100px;
}

.nav li {
    margin: 0 10px;
}

.nav-list{
    display: none;
}

.nav.show {
    display: flex;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
}

.nav.show li {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #fff;
}

.nav.show li:last-child {
    border-bottom: none;
}

.nav.show a {
    color: #fff;
    text-decoration: none;
}



footer{
    background-color: #1a5276 ;
    color: #fff;
    padding: 20px;
    text-align: center;
    
}

footer p {
    margin-bottom: 10px;
    margin-left: 15px;
}

footer img {
    width: 30px;
    vertical-align: middle; /*esto alinea mi bandera con el texto verticalmente*/
    margin-left: 5px; /* un espacio a la izquierda del icono*/
}

@media screen and (min-width: 769px) {
    .nav li {
        margin-right: 20px;
         /* Ajustamos el espacio entre los botones en pantallas más grandes */
    }

    
}


/* Media query para dispositivos móviles */
@media screen and (max-width: 768px) {

    .nav {
        display: none;
    }
    .menu-icon {
        display: inline-block;
        cursor: pointer;
    }

    .nav.show{
        display: flex;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 200px;
        left: 0;
        width: 100%;
        
    }

    .nav.show li{
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #fff;

    }

    .nav.show li:last-child{
        border-bottom: none;
    }

    .nav.show a {
        color:#fff;
        text-decoration: none;
    };

    .close-menu{
        display: inline-block;
        cursor: pointer;
    }

    .card{
        margin-top: 50px;
    }

    h2{
        margin-top: 50px;
    }

    .map{
        max-width: 600px;
    }



    

    
    
}

.map{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


#menu{
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #fff;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

#menu::before{
    content: "☰";
}


#menu.open::before{
    content: "✖";
}

